<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>삼항연산자</h1>
	<!-- th:text를 사용한 삼항 연산자 -->
	<p th:text="10%2 == 1?짝수:홀수"></p>
	
	<h1>조건문</h1>
	<!-- th:text를 사용한 삼항 연산자 -->
	<p th:if="10%2 == 0">10은 짝수입니다.</p> <!-- 조건을 만족하는 경우 -->
	<p th:unless = "10%2 == 1">10은 짝수입니다.</p> <!-- 조건을 만족하지 않는 경우 -->
	
	<!-- 리스트에서 객체를 하나씩 꺼내기 -->
	<!-- 객체의 번호가 2번이며 객체를 출력, 아니면 --를 출력 -->
	<th:block th:each="dto: ${list}">
		<p th:text="${dto.no == 2}?${dto}:--"></p>
	</th:block>
	
	<th:block th:each="dto: ${list}">
		<p th:if="${dto.no == 2}" th:text="${dto}"></p>
		<p th:unless="${dto.no == 2}" th:text="--"></p>
	</th:block>
	
</body>
</html>