<!DOCTYPE html>


<h1 class="mt-4">Board Modify Page</h1>

<form>

  <div class="form-group">
    <label >번호</label>
    <input type="text" class="form-control" name="" value="1" readonly>
  </div>

  <div class="form-group">
    <label >제목</label>
    <input type="text" class="form-control" name="" value="1번">
  </div>
  <div class="form-group">
    <label >내용</label>
    <textarea class="form-control" rows="5" name="">내용입니다</textarea>
  </div>
  <div class="form-group">
    <label >작성자</label>
    <input type="text" class="form-control" name="" value="둘리" readonly>
  </div>
  <div class="form-group">
    <label >등록일</label>
    <input type="text" class="form-control" value="2023/02/21 10:00:00" readonly>
  </div>
  <div class="form-group">
    <label >수정일</label>
    <input type="text" class="form-control" value="2023/02/21 10:00:00" readonly>
  </div>

</form>

<button type="button" class="btn btn-primary modifyBtn">수정</button>

<button type="button" class="btn btn-info listBtn">목록으로</button>

<button type="button" class="btn btn-danger removeBtn">삭제</button>


