<!DOCTYPE html>

<h1 class="mt-4">Board Read Page</h1>

<div class="form-group">
  <label >번호</label>
  <input type="text" class="form-control" value="1" readonly >
</div>

<div class="form-group">
  <label >제목</label>
  <input type="text" class="form-control" value="1번글" readonly >
</div>
<div class="form-group">
  <label >내용</label>
  <textarea class="form-control" rows="5" readonly>내용입니다</textarea>
</div>
<div class="form-group">
  <label >작성자</label>
  <input type="text" class="form-control" value="둘리" readonly>
</div>
<div class="form-group">
  <label >등록일</label>
  <input type="text" class="form-control" value="2023/02/21 10:00:00" readonly>
</div>
<div class="form-group">
  <label >수정일</label>
  <input type="text" class="form-control" value="2023/02/21 10:00:00" readonly>
</div>

<a href="#">
  <button type="button" class="btn btn-primary">수정</button>
</a>

<a href="#">
  <button type="button" class="btn btn-info">목록으로</button>
</a>

