<!DOCTYPE html>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">

		<h1>Member List Page</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>등록일</th>
				</tr>
			</thead>
			<tbody>
				<!-- 회원 정보 반복처리 -->
				<!--
				1. 컨트롤러에서 전달받은 리스트만 출력
				2. 행을 만드는 엘리먼트에 반복문 처리. 나머지 코드는 삭제
				3. dto 변수값만 출력
				4. 가짜데이터를 변수로 처리
				-->

				[[${list}]]

				<tr th:each="dto : ${list}">

					[[${dto}]]

					<th>
						<a th:href="@{/member/read(id = ${dto.id}, page= ${list.number + 1})}">
							[[${dto.id}]]
						</a>
					</th>
					<td>[[${dto.name}]]</td>
					<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
				</tr>

			</tbody>
		</table>

		<!-- 페이지 번호 목록 -->
	    <ul class="pagination h-100 justify-content-center align-items-center">
	         <li th:class=" 'page-item ' + ${(list.number + 1) == page?'active':''} " th:each="page: ${#numbers.sequence(1, list.totalPages)}">
                <a class="page-link" th:href="@{/member/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>
        </ul>
		
	</th:block>

</th:block>