<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
   table {
      border-collapse: collapse;
    }
    
	th, td {
      border: 1px solid black;
      padding: 10px;
      
    }
</style>
</head>
<body>
	
	<table>
		<tr>
			<td th:text="${msg1}"></td>
			<td th:text="${msg2}"></td>
			<td th:text="${msg3}"></td>
		</tr>
		
		<tr>
			<td th:text="${msg4}"></td>
			<td th:text="${msg7}"></td>
			<td th:text="${msg10}"></td>
		</tr>
		
		<tr>
			<td th:text="${msg5}"></td>
			<td th:text="${msg8}"></td>
			<td th:text="${msg11}"></td>
		</tr>
		
		<tr>
			<td th:text="${msg6}"></td>
			<td th:text="${msg9}"></td>
			<td th:text="${msg12}"></td>
		</tr>
		
	</table>
	
</body>
</html>