<!-- 템플릿 레이아웃 -->

<!DOCTYPE html>

<style>
    .header {
        height: 20vh;
        background-color: pink;
    }
    .content {
        height: 30vh;
        background-color: lightgray;
    }
    .footer {
        height: 10vh;
        background-color: green;
    }
</style>

<body>

<div class="header">
    <h1>HEADER</h1>
</div>
<div class="content" >
	<h1>CONTENT</h1>
</div>

<div class = "content">
	
	<!-- fragment.html 파일의 freg1 블록 가져오기 -->
	<!-- ~{}: 조각표현식 -->
	<!-- th:replace: 가져온 조각으로 기존의 내용을 교체함 -->
	<th:block th:replace = "~{layout/fragment :: frag2}">
	
	</th:block>
	
</div>

<div class="footer">
    <h1>FOOTER</h1>
</div>

</body>
</html>